<div class="proyectos row">
    <h3 class="subtitulo2">Proyectos realizados:</h3>

    <div class="proyecto row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <h4 class="subtituloProyecto">Sitio de fotografía</h4>
            <p class="textoProyecto">Realizado en marzo-mayo de 2022
                <br>
                Link al sitio: https://github.com/JazminCaruso/Fotografia_web/
                <br>
                Link al código: https://jazmincaruso.github.io/Fotografia_web.git</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <a href="https://jazmincaruso.github.io/Fotografia_web/"><img src="../../../assets/img/fotografia.png" alt="Foto presentación" class="img-fluid fotoProyecto"></a>
        </div>
    </div>

    <div class="proyecto row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <h4 class="subtituloProyecto">Sitio Calculando</h4>
            <p class="textoProyecto">Realizado en mayo-julio de 2022
                <br>
                Link al sitio: https://jazmincaruso.github.io/Calculando_JS/
                <br>
                Link al código: https://github.com/JazminCaruso/Calculando_JS.git</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <a href="https://jazmincaruso.github.io/Calculando_JS/"><img src="../../../assets/img/calculando.png" alt="Foto presentación" class="img-fluid  fotoProyecto"></a>
        </div>
    </div>

    <div class="proyecto row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <h4 class="subtituloProyecto">Página portafolio</h4>
            <p class="textoProyecto">Realizado en agosto-diciembre de 2022 <br>Link a la página:<br>Link al código:</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <img src="../../../assets/img/portafolio.png" alt="Foto presentación" class="img-fluid fotoProyecto">
        </div>
    </div>
    
</div>
