.proyectos {
    margin: 0 auto;
    margin-top: 2%;
    background-color: aliceblue;
    padding-bottom: 2%;
    width: 90%;
}

.subtitulo2 {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #061c34;
    color: aliceblue;
    font-size:x-large;
    font-style: italic;
}

.proyecto {
    margin-top: 2%;
    display: flex;
    align-items:flex-start;
    margin-bottom: 2%;
}

.fotoProyecto {
    display: block;
    margin: 0px auto;
    width: 80%;
    box-shadow: 10px 10px 20px #061c34;
}

.subtituloProyecto {
    padding-left: 10%;
    margin-bottom: 1%;
    font-size: large;
    color: #061c34;
}

.textoProyecto {
    padding-left: 10%;
    padding-right: 5%;
}

@media (max-width: 768px) {

    .subtituloProyecto {
        padding-left: 3%;
        text-align: center;
    }
    
    .textoProyecto {
        padding-left: 3%;
        padding-right: 3%;
        text-align: center;
    }

    .fotoProyecto {
        margin-bottom: 5%;
        padding-left: 3%;
        padding-right: 3%;
        width: 70%;
    }
}