.educacion {
    margin: 0 auto;
    margin-top: 2%;
    background-color: rgb(202, 202, 202);
    padding-bottom: 2%;
    width:90%;
    background-color: aliceblue;
}

.subtitulo2 {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #061c34;
    color: aliceblue;
    font-size:x-large;
    font-style: italic;
}

.titulos {
    margin-top: 2%;
    display: flex;
    align-items:flex-start;
    width: fit-content;
    
}

.educacion2 {
    margin-top: 1%;
}

.fotoEducacionRed {
    display: block;
    margin-left: 15%;
    width: 35%;
    border-radius: 50%;
    margin: 0px auto;
}

.tituloImagenEducacion {
    text-align: center;
    font-size: medium;
}

.subtituloExperiencia {
    margin-bottom: 1%;
    font-size: large;
    color: #061c34;
}

.textoExperiencia {
    padding-right: 10%;
    text-align: justify;
    padding-top: 1%;
}

.card {
    width: 80%;
}

.btn {
    color: #061c34;
    background-color: #dae2e5;
    border-style: none;
}

.btn:hover {
    background-color: #061c34;
    color: aliceblue;
}

@media (max-width: 768px) {

    .titulos {
        margin-left: 2%;
    }

    .textoExperiencia {
        padding-top: 1%;
    }
}

@media (max-width: 576px) {

    .titulos {
        margin-bottom: 5%;
    }

    .textoExperiencia {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 3%;
    }
}