<div class="row educacion">
    <h3 class="subtitulo2">Educación:</h3>

    <div class="row titulos">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 educacion1">
            <img src="../../../assets/img/insp.jpg" alt="Foto presentación" class="img-fluid fotoEducacionRed">
            <h5 class="tituloImagenEducacion">Instituto Nuestra Señora del Pilar</h5>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 educacion2">
            <h4 class="subtituloExperiencia">Secundario</h4>
            <p class="textoExperiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt reprehenderit officiis, nisi illum nostrum aliquid inventore exercitationem dolor impedit laudantium dolorum architecto harum libero eos tempore velit at Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Certificado
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <img src="img/insp.jpg" alt="Foto presentación" class="fotoEducacionRed">
                </div>
            </div>
        </div>

    </div>

    <div class="row titulos">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 educacion1">
            <img src="../../../assets/img/eca.jpg" alt="Foto presentación" class="img-fluid fotoEducacionRed">
            <h5 class="tituloImagenEducacion">ECA Capacitaciones</h5>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 educacion2">
            <h4 class="subtituloExperiencia">Python</h4>
            <p class="textoExperiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt reprehenderit officiis, nisi illum nostrum aliquid inventore exercitationem dolor impedit laudantium dolorum architecto harum libero eos tempore velit at Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePython" aria-expanded="false" aria-controls="collapsePython">
                    Certificado
                </button>
            </p>
            <div class="collapse" id="collapsePython">
                <div class="card card-body">
                    <img src="../../../assets/img/ecaC.png" alt="Certificado" class="fotoCertificado">
                </div>
            </div>
        </div>

    </div>

    <div class="row titulos">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 educacion1">
            <img src="../../../assets/img/arg.jpg" alt="Foto presentación" class="img-fluid fotoEducacionRed">
            <h5 class="tituloImagenEducacion">Argentina Programa</h5>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 educacion2">
            <h4 class="subtituloExperiencia">#SéProgramar</h4>
            <p class="textoExperiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt reprehenderit officiis, nisi illum nostrum aliquid inventore exercitationem dolor impedit laudantium dolorum architecto harum libero eos tempore velit at Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSeProgramar" aria-expanded="false" aria-controls="collapseSeProgramar">
                    Certificado
                </button>
            </p>
            <div class="collapse" id="collapseSeProgramar">
                <div class="card card-body">
                    <img src="../../../assets/img/argC.png" alt="Certificado" class="fotoCertificado">
                </div>
            </div>
        </div>

    </div>

    <div class="row titulos">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 educacion1">
            <img src="../../../assets/img/coder.png" alt="Foto presentación" class="img-fluid fotoEducacionRed">
            <h5 class="tituloImagenEducacion">CoderHouse</h5>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 educacion2">
            <h4 class="subtituloExperiencia">Desarrollo Web</h4>
            <p class="textoExperiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt reprehenderit officiis, nisi illum nostrum aliquid inventore exercitationem dolor impedit laudantium dolorum architecto harum libero eos tempore velit at Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDesarrolloWeb" aria-expanded="false" aria-controls="collapseDesarrolloWeb">
                    Certificado
                </button>
            </p>
            <div class="collapse" id="collapseDesarrolloWeb">
                <div class="card card-body">
                    <img src="../../../assets/img/desarrollowebC.png" alt="Certificado" class="fotoCertificado">
                </div>
            </div>
        </div>

    </div>

    <div class="row titulos">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 educacion1">
            <img src="../../../assets/img/rocketcode.png" alt="Foto presentación" class="img-fluid fotoEducacionRed">
            <h5 class="tituloImagenEducacion">RocketCode</h5>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 educacion2">
            <h4 class="subtituloExperiencia">GitHub</h4>
            <p class="textoExperiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt reprehenderit officiis, nisi illum nostrum aliquid inventore exercitationem dolor impedit laudantium dolorum architecto harum libero eos tempore velit at Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseGitHub" aria-expanded="false" aria-controls="collapseGitHub">
                    Certificado
                </button>
            </p>
            <div class="collapse" id="collapseGitHub">
                <div class="card card-body">
                    <img src="../../../assets/img/githubC.png" alt="Certificado" class="fotoCertificado">
                </div>
            </div>
        </div>

    </div>

    <div class="row titulos">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 educacion1">
            <img src="../../../assets/img/coder.png" alt="Foto presentación" class="img-fluid fotoEducacionRed">
            <h5 class="tituloImagenEducacion">CoderHouse</h5>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 educacion2">
            <h4 class="subtituloExperiencia">JavaScript</h4>
            <p class="textoExperiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt reprehenderit officiis, nisi illum nostrum aliquid inventore exercitationem dolor impedit laudantium dolorum architecto harum libero eos tempore velit at Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseJavaScript" aria-expanded="false" aria-controls="collapseJavaScript">
                    Certificado
                </button>
            </p>
            <div class="collapse" id="collapseJavaScript">
                <div class="card card-body">
                    <img src="../../../assets/img/javascriptC.png" alt="Certificado" class="fotoCertificado">
                </div>
            </div>
        </div>

    </div>

    <div class="row titulos">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 educacion1">
            <img src="../../../assets/img/unc.jpg" alt="Foto presentación" class="img-fluid fotoEducacionRed">
            <h5 class="tituloImagenEducacion">Universidad Nacional de Córdoba</h5>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8 educacion2">
            <h4 class="subtituloExperiencia">Lic. en Ciencias de la Computación</h4>
            <p class="textoExperiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt reprehenderit officiis, nisi illum nostrum aliquid inventore exercitationem dolor impedit laudantium dolorum architecto harum libero eos tempore velit at Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

    </div>

</div>