.experiencia {
    margin: 0 auto;
    margin-top: 3%;
    padding-bottom: 2%;
    width:90%;
    background-color: aliceblue;
}

.subtitulo2 {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #061c34;
    color: aliceblue;
    font-size:x-large;
    font-style: italic;
}

.trabajos {
    margin-top: 2%;
    display: flex;
    align-items:flex-start;
}

.subtituloExperiencia {
    margin-bottom: 1%;
    padding-left: 10%;
    font-size: large;
    color: #061c34;
}

.textoExperiencia {
    padding-left: 10%;
    text-align: justify;
}

.fotoTrabajo {
    display: block;
    margin: 0px auto;
    width: 60%;
}

@media (max-width: 956px) {
    
    .fotoTrabajo {
        padding-bottom: 2%;
        width: 100%;
    }

}

@media (max-width: 768px) {
    
    .subtituloExperiencia {
        padding-left: 5%;
    }
    
    .textoExperiencia {
        padding-left: 5%;
        padding-top: 2%;
    }
    
    .fotoTrabajo {
        padding-bottom: 2%;
        width: 100%;
    }

}

@media (max-width: 576px) {
    
    .subtituloExperiencia {
        padding-left: 5%;
    }
    
    .textoExperiencia {
        padding-left: 5%;
        padding-top: 2%;
    }
    
    .fotoTrabajo {
        padding-left: 5%;
        padding-bottom: 2%;
        width: 80%;
    }

}