<div class="row experiencia">
    <h3 class="subtitulo2">Experiencia laboral:</h3>
    <div class="trabajos row">
        <div class="experiencia1 col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <img src="../../../assets/img/trabajo.jpg" alt="Foto presentación" class="fotoTrabajo">
        </div>
        <div class="experiencia2 col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <h4 class="subtituloExperiencia">Puesto de trabajo</h4>
            <p class="textoExperiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt reprehenderit officiis, nisi illum nostrum aliquid inventore exercitationem dolor impedit laudantium dolorum architecto harum libero eos tempore velit at Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>