.experiencia {
    margin-top: 3%;
    background-color: rgb(202, 202, 202);
    padding-bottom: 2%;
    width:100%;
}

.subtitulo2 {
    padding-top: 1%;
    margin-left: 3%;
    width: fit-content;
}

.trabajos {
    margin-top: 2%;
    display: flex;
    align-items:flex-start;
}

.fotoTrabajo {
    display: block;
    margin: 0px auto;
    width: 60%;
}

.subtituloExperiencia {
    margin-bottom: 1%;
}

.textoExperiencia {
    padding-right: 10%;
    text-align: justify;
}