<div class="row informacionPersonal">
    <div class="presentacion1 col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <img src="../../../assets/img/miFoto.jpeg" alt="Foto presentación" class="miFoto img-fluid">
        <div class="misDatos">
            <h2>Jazmín Caruso Rojo</h2>
            <h3>Developer</h3>
        </div>
    </div>
    <div class="presentacion2 col-xs-12 col-sm-12 col-md-7 col-lg-8">
        <h3 class="subtitulo1">Información personal:</h3>
        <p class="textoAcercaDe">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem deserunt reprehenderit officiis, nisi illum nostrum aliquid inventore exercitationem dolor impedit laudantium dolorum architecto harum libero eos tempore velit at Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum id error necessitatibus odit quas. Ipsam eius eveniet molestiae illo corrupti! Ab numquam veniam a eveniet voluptates natus. Obcaecati, iste nisi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus velit cum at voluptatibus. Praesentium, impedit suscipit. Laudantium vitae laborum ad aut natus, quibusdam blanditiis dignissimos optio soluta obcaecati necessitatibus ullam?</p>
    </div>
</div>
