.informacionPersonal {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
}

.miFoto {
    display: block;
    margin-left: 10%;
    width: 70%;
    border-radius: 50%;
    margin: 0px auto;
}

.misDatos {
    text-align: center;
    margin-top: 5%;
}

.nombre {
    font-weight: bold;
    font-size: xx-large;
    color: #061c34;
}

.profesion {
    font-size: x-large;
    color: #061c34;
}

.subtitulo1 {
    margin-bottom: 1%;
    font-size: x-large;
    color: #061c34;
}

.textoAcercaDe {
    padding-right: 10%;
    text-align:justify;
}

@media (max-width: 1040px) {
    .nombre {
        font-size: x-large;
    }

    .profesion {
        font-size: x-large;
    }

    .textoAcercaDe {
        padding-top: 1%;
    }
    
}

@media (max-width: 768px) {
    .miFoto {
        width: 50%;
        padding-top: 3%;
    }

    .subtitulo1 {
        font-size: large;
        padding-left: 3%;
    }
    
    .textoAcercaDe {
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 1%;
    }
    
}