.habilidades {
    margin: 0 auto;
    margin-top: 3%;
    padding-bottom: 2%;
    width:90%;
    background-color: aliceblue;
}

.subtitulo2 {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #061c34;
    color: aliceblue;
    font-size:x-large;
    font-style: italic;
}

.progress {
    margin: 0px auto;
    width: 70%;
    margin-bottom: 15px;
    height: 30px;
}

.progress-bar {
    color:black;
    font-size: medium;
}

.idiomas {
    margin: 0 auto;
    margin-top: 3%;
    padding-bottom: 2%;
    background-color: aliceblue;
}

@media (max-width: 768px) {
    
    .idiomas {
        padding-left: 5%;
        padding-right: 5%;
    }
}