<div class="redes">
    <a href="https://wa.me/5493572436712?text=Hola,%20estoy%20interesad@%20en%20tus%20conocimientos%20sobre%20programación"><img src="../../../assets/img/whatsapp.png" alt="Whatsapp"></a>
    <a href="https://www.linkedin.com/in/jazm%C3%ADn-caruso-98790923a"><img src="../../../assets/img/linkedin.png" alt="Linkedin"></a>
    <a href="mailto:carusojazmin@gmail.com"><img src="../../../assets/img/gmail.png" alt="Gmail"></a>
    <a href="https://t.me/jazcaruso"><img src="../../../assets/img/telegram.png" alt="Telegram"></a>
</div>
